In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

Load the dataset

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Preprocess the data

Drop irrelevant data

In [4]:
data=data.drop(['RowNumber',"CustomerId","Surname"],axis=1)

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Encode categorical variable

In [6]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [7]:
with open('label_encoder_gender.pkl', 'wb') as f:
    pickle.dump(label_encoder_gender, f)

In [8]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

saving encoding code as pickle so that we can use it later

In [9]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [10]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

onehotencode geography

In [11]:
onehotencoder_geograph=OneHotEncoder()
encoded_geography=onehotencoder_geograph.fit_transform(data[['Geography']])
encoded_geography=encoded_geography.toarray()

In [12]:
encoded_geography

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [13]:
names=onehotencoder_geograph.get_feature_names_out(['Geography'])

In [14]:
names

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [15]:
geography=pd.DataFrame(encoded_geography,columns=names, dtype=int)

In [16]:
geography

      Geography_France  Geography_Germany  Geography_Spain
0                    1                  0                0
1                    0                  0                1
2                    1                  0                0
3                    1                  0                0
4                    0                  0                1
...                ...                ...              ...
9995                 1                  0                0
9996                 1                  0                0
9997                 1                  0                0
9998                 0                  1                0
9999                 1                  0                0

[10000 rows x 3 columns]

In [17]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [18]:
data=pd.concat([data.drop(["Geography"],axis=1),geography],axis=1)

In [19]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [20]:
with open('onehotencoder_geograph.pkl', 'wb') as f:
    pickle.dump(onehotencoder_geograph, f)

Splitting into dependent and independent features X and y

In [21]:
X=data.drop(["Exited"],axis=1)
y=data["Exited"]

In [22]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

In [23]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

splitting into train and test

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaling the data

In [25]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [26]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

Making ANN Model

In [28]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.19.0-cp312-cp312-win_amd64.whl.metadata (4.1 kB)
Collecting absl-py>=1.0.0 (from tensorflow)
  Downloading absl_py-2.3.1-py3-none-any.whl.metadata (3.3 kB)
Collecting astunparse>=1.6.0 (from tensorflow)
  Using cached astunparse-1.6.3-py2.py3-none-any.whl.metadata (4.4 kB)
Collecting flatbuffers>=24.3.25 (from tensorflow)
  Using cached flatbuffers-25.2.10-py2.py3-none-any.whl.metadata (875 bytes)
Collecting gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 (from tensorflow)
  Using cached gast-0.6.0-py3-none-any.whl.metadata (1.3 kB)
Collecting google-pasta>=0.1.1 (from tensorflow)
  Using cached google_pasta-0.2.0-py3-none-any.whl.metadata (814 bytes)
Collecting libclang>=13.0.0 (from tensorflow)
  Using cached libclang-18.1.1-py2.py3-none-win_amd64.whl.metadata (5.3 kB)
Collecting opt-einsum>=2.3.2 (from tensorflow)
  Using cached opt_einsum-3.4.0-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: packaging in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (1.16.0)
Collecting termcolor>=1.1.0 (from tensorflow)
  Using cached termcolor-3.1.0-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (1.14.1)
Collecting grpcio<2.0,>=1.24.3 (from tensorflow)
  Downloading grpcio-1.73.1-cp312-cp312-win_amd64.whl.metadata (4.0 kB)
Collecting tensorboard~=2.19.0 (from tensorflow)
  Downloading tensorboard-2.19.0-py3-none-any.whl.metadata (1.8 kB)
Collecting keras>=3.5.0 (from tensorflow)
  Downloading keras-3.10.0-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in c:\users\pc098\anaconda3\lib\site-packages (from tensorflow) (3.11.0)
Collecting ml-dtypes<1.0.0,>=0.5.1 (from tensorflow)
  Downloading ml_dtypes-0.5.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\pc098\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.44.0)
Requirement already satisfied: rich in c:\users\pc098\anaconda3\lib\site-packages (from keras>=3.5.0->tensorflow) (13.7.1)
Collecting namex (from keras>=3.5.0->tensorflow)
  Downloading namex-0.1.0-py3-none-any.whl.metadata (322 bytes)
Collecting optree (from keras>=3.5.0->tensorflow)
  Downloading optree-0.16.0-cp312-cp312-win_amd64.whl.metadata (31 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc098\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc098\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc098\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc098\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in c:\users\pc098\anaconda3\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.4.1)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard~=2.19.0->tensorflow)
  Using cached tensorboard_data_server-0.7.2-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\pc098\anaconda3\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\pc098\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\pc098\anaconda3\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\pc098\anaconda3\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\pc098\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.0)
Downloading tensorflow-2.19.0-cp312-cp312-win_amd64.whl (376.0 MB)
   ---------------------------------------- 0.0/376.0 MB ? eta -:--:--
    --------------------------------------- 7.3/376.0 MB 37.6 MB/s eta 0:00:10
   - -------------------------------------- 15.7/376.0 MB 38.0 MB/s eta 0:00:10
   -- ------------------------------------- 24.1/376.0 MB 39.1 MB/s eta 0:00:09
   --- ------------------------------------ 33.3/376.0 MB 40.6 MB/s eta 0:00:09
   ---- ----------------------------------- 42.7/376.0 MB 41.8 MB/s eta 0:00:08
   ----- ---------------------------------- 51.4/376.0 MB 42.5 MB/s eta 0:00:08
   ------ --------------------------------- 60.0/376.0 MB 42.0 MB/s eta 0:00:08
   ------- -------------------------------- 67.9/376.0 MB 41.6 MB/s eta 0:00:08
   ------- -------------------------------- 74.2/376.0 MB 40.4 MB/s eta 0:00:08
   -------- ------------------------------- 79.4/376.0 MB 38.7 MB/s eta 0:00:08
   -------- ------------------------------- 83.6/376.0 MB 37.0 MB/s eta 0:00:08
   --------- ------------------------------ 87.3/376.0 MB 35.5 MB/s eta 0:00:09
   --------- ------------------------------ 92.5/376.0 MB 34.5 MB/s eta 0:00:09
   ---------- ----------------------------- 98.3/376.0 MB 34.1 MB/s eta 0:00:09
   ---------- ---------------------------- 103.8/376.0 MB 33.6 MB/s eta 0:00:09
   ----------- --------------------------- 108.5/376.0 MB 33.0 MB/s eta 0:00:09
   ----------- --------------------------- 112.2/376.0 MB 32.1 MB/s eta 0:00:09
   ------------ -------------------------- 116.4/376.0 MB 31.4 MB/s eta 0:00:09
   ------------ -------------------------- 120.6/376.0 MB 30.8 MB/s eta 0:00:09
   ------------ -------------------------- 124.0/376.0 MB 30.1 MB/s eta 0:00:09
   ------------- ------------------------- 127.9/376.0 MB 29.6 MB/s eta 0:00:09
   ------------- ------------------------- 132.1/376.0 MB 29.1 MB/s eta 0:00:09
   -------------- ------------------------ 137.4/376.0 MB 28.9 MB/s eta 0:00:09
   -------------- ------------------------ 142.3/376.0 MB 28.7 MB/s eta 0:00:09
   --------------- ----------------------- 148.4/376.0 MB 28.7 MB/s eta 0:00:08
   ---------------- ---------------------- 154.4/376.0 MB 28.8 MB/s eta 0:00:08
   ---------------- ---------------------- 159.6/376.0 MB 28.7 MB/s eta 0:00:08
   ----------------- --------------------- 165.9/376.0 MB 28.7 MB/s eta 0:00:08
   ----------------- --------------------- 172.2/376.0 MB 28.7 MB/s eta 0:00:08
   ------------------ -------------------- 178.3/376.0 MB 28.8 MB/s eta 0:00:07
   ------------------- ------------------- 184.3/376.0 MB 28.8 MB/s eta 0:00:07
   ------------------- ------------------- 189.0/376.0 MB 28.6 MB/s eta 0:00:07
   -------------------- ------------------ 194.8/376.0 MB 28.5 MB/s eta 0:00:07
   -------------------- ------------------ 200.3/376.0 MB 28.5 MB/s eta 0:00:07
   --------------------- ----------------- 205.3/376.0 MB 28.4 MB/s eta 0:00:07
   --------------------- ----------------- 210.5/376.0 MB 28.3 MB/s eta 0:00:06
   ---------------------- ---------------- 215.0/376.0 MB 28.2 MB/s eta 0:00:06
   ---------------------- ---------------- 220.7/376.0 MB 28.2 MB/s eta 0:00:06
   ----------------------- --------------- 226.2/376.0 MB 28.1 MB/s eta 0:00:06
   ----------------------- --------------- 230.4/376.0 MB 27.9 MB/s eta 0:00:06
   ------------------------ -------------- 234.1/376.0 MB 27.7 MB/s eta 0:00:06
   ------------------------ -------------- 238.0/376.0 MB 27.5 MB/s eta 0:00:06
   ------------------------- ------------- 242.5/376.0 MB 27.3 MB/s eta 0:00:05
   ------------------------- ------------- 247.7/376.0 MB 27.2 MB/s eta 0:00:05
   -------------------------- ------------ 252.4/376.0 MB 27.1 MB/s eta 0:00:05
   -------------------------- ------------ 256.6/376.0 MB 27.0 MB/s eta 0:00:05
   --------------------------- ----------- 261.9/376.0 MB 27.0 MB/s eta 0:00:05
   --------------------------- ----------- 268.4/376.0 MB 26.9 MB/s eta 0:00:05
   ---------------------------- ---------- 274.2/376.0 MB 26.7 MB/s eta 0:00:04
   ----------------------------- --------- 281.0/376.0 MB 26.6 MB/s eta 0:00:04
   ----------------------------- --------- 287.6/376.0 MB 26.4 MB/s eta 0:00:04
   ------------------------------ -------- 293.3/376.0 MB 26.2 MB/s eta 0:00:04
   ------------------------------ -------- 298.3/376.0 MB 25.9 MB/s eta 0:00:03
   ------------------------------- ------- 303.8/376.0 MB 25.7 MB/s eta 0:00:03
   -------------------------------- ------ 308.8/376.0 MB 25.5 MB/s eta 0:00:03
   -------------------------------- ------ 313.8/376.0 MB 25.3 MB/s eta 0:00:03
   --------------------------------- ----- 318.8/376.0 MB 25.1 MB/s eta 0:00:03
   --------------------------------- ----- 324.3/376.0 MB 24.9 MB/s eta 0:00:03
   ---------------------------------- ---- 330.0/376.0 MB 24.8 MB/s eta 0:00:02
   ---------------------------------- ---- 334.8/376.0 MB 24.7 MB/s eta 0:00:02
   ----------------------------------- --- 338.7/376.0 MB 24.5 MB/s eta 0:00:02
   ----------------------------------- --- 343.7/376.0 MB 24.6 MB/s eta 0:00:02
   ------------------------------------ -- 348.4/376.0 MB 24.7 MB/s eta 0:00:02
   ------------------------------------ -- 353.6/376.0 MB 24.7 MB/s eta 0:00:01
   ------------------------------------- - 359.7/376.0 MB 24.7 MB/s eta 0:00:01
   ------------------------------------- - 365.4/376.0 MB 24.7 MB/s eta 0:00:01
   --------------------------------------  370.4/376.0 MB 24.8 MB/s eta 0:00:01
   --------------------------------------  375.7/376.0 MB 24.9 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------  375.9/376.0 MB 25.0 MB/s eta 0:00:01
   --------------------------------------- 376.0/376.0 MB 22.0 MB/s eta 0:00:00
Downloading absl_py-2.3.1-py3-none-any.whl (135 kB)
Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Using cached flatbuffers-25.2.10-py2.py3-none-any.whl (30 kB)
Using cached gast-0.6.0-py3-none-any.whl (21 kB)
Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Downloading grpcio-1.73.1-cp312-cp312-win_amd64.whl (4.3 MB)
   ---------------------------------------- 0.0/4.3 MB ? eta -:--:--
   --------------------------------- ------ 3.7/4.3 MB 18.1 MB/s eta 0:00:01
   ---------------------------------------- 4.3/4.3 MB 16.3 MB/s eta 0:00:00
Downloading keras-3.10.0-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 17.7 MB/s eta 0:00:00
Using cached libclang-18.1.1-py2.py3-none-win_amd64.whl (26.4 MB)
Downloading ml_dtypes-0.5.1-cp312-cp312-win_amd64.whl (210 kB)
Using cached opt_einsum-3.4.0-py3-none-any.whl (71 kB)
Downloading tensorboard-2.19.0-py3-none-any.whl (5.5 MB)
   ---------------------------------------- 0.0/5.5 MB ? eta -:--:--
   -------------------------------------- - 5.2/5.5 MB 29.0 MB/s eta 0:00:01
   ---------------------------------------- 5.5/5.5 MB 25.8 MB/s eta 0:00:00
Using cached termcolor-3.1.0-py3-none-any.whl (7.7 kB)
Using cached tensorboard_data_server-0.7.2-py3-none-any.whl (2.4 kB)
Downloading namex-0.1.0-py3-none-any.whl (5.9 kB)
Downloading optree-0.16.0-cp312-cp312-win_amd64.whl (315 kB)
Installing collected packages: namex, libclang, flatbuffers, termcolor, tensorboard-data-server, optree, opt-einsum, ml-dtypes, grpcio, google-pasta, gast, astunparse, absl-py, tensorboard, keras, tensorflow
Successfully installed absl-py-2.3.1 astunparse-1.6.3 flatbuffers-25.2.10 gast-0.6.0 google-pasta-0.2.0 grpcio-1.73.1 keras-3.10.0 libclang-18.1.1 ml-dtypes-0.5.1 namex-0.1.0 opt-einsum-3.4.0 optree-0.16.0 tensorboard-2.19.0 tensorboard-data-server-0.7.2 tensorflow-2.19.0 termcolor-3.1.0

In [29]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [30]:
model=Sequential([
    Dense(units=64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(units=32,activation='relu'),
    Dense(units=16,activation='relu'),
    Dense(units=8,activation='relu'),
    Dense(units=1,activation='sigmoid')
])

C:\Users\PC098\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 16)                  │             528 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 8)                   │             136 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 1)                   │               9 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 3,585 (14.00 KB)

 Trainable params: 3,585 (14.00 KB)

 Non-trainable params: 0 (0.00 B)

compiling the model than only forward and backward propogation will work

In [32]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

setting the earlystopping

In [33]:
early_stopping=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

fitting the model

In [34]:
history=model.fit(X_train,y_train,epochs=100,validation_data=(X_test,y_test),callbacks=[early_stopping])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.7666 - loss: 0.5304 - val_accuracy: 0.8330 - val_loss: 0.3960
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8346 - loss: 0.3935 - val_accuracy: 0.8510 - val_loss: 0.3533
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8641 - loss: 0.3469 - val_accuracy: 0.8550 - val_loss: 0.3470
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8617 - loss: 0.3466 - val_accuracy: 0.8590 - val_loss: 0.3493
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8630 - loss: 0.3409 - val_accuracy: 0.8540 - val_loss: 0.3541
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8617 - loss: 0.3421 - val_accuracy: 0.8610 - val_loss: 0.3472
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8657 - loss: 0.3285 - val_accuracy: 0.8540 - val_loss: 0.3481
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8693 - loss: 0.3230 - val_accuracy: 0.8525 - val_loss: 0.3645
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8690 - loss: 0.3173 - val_accuracy: 0.8575 - val_loss: 0.3457
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8691 - loss: 0.3264 - val_accuracy: 0.8600 - val_loss: 0.3469
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8712 - loss: 0.3140 - val_accuracy: 0.8580 - val_loss: 0.3434
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8731 - loss: 0.3130 - val_accuracy: 0.8595 - val_loss: 0.3479
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8721 - loss: 0.3145 - val_accuracy: 0.8560 - val_loss: 0.3490
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8677 - loss: 0.3169 - val_accuracy: 0.8560 - val_loss: 0.3492
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8701 - loss: 0.3066 - val_accuracy: 0.8575 - val_loss: 0.3463
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8772 - loss: 0.2948 - val_accuracy: 0.8610 - val_loss: 0.3437
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8785 - loss: 0.2959 - val_accuracy: 0.8600 - val_loss: 0.3500
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8747 - loss: 0.3044 - val_accuracy: 0.8550 - val_loss: 0.3502
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8676 - loss: 0.3038 - val_accuracy: 0.8410 - val_loss: 0.3694
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8823 - loss: 0.2817 - val_accuracy: 0.8535 - val_loss: 0.3557
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8821 - loss: 0.2905 - val_accuracy: 0.8620 - val_loss: 0.3566

In [35]:
history.model

saving the model in h5 extension as tensorflow or deeplearning models are stored in h5.

In [36]:
model.save('ann_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

prediction with trained model in ANN

Loading the model

In [37]:
from tensorflow.keras.models import load_model

In [38]:
model=load_model('ann_model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Loading the encoders and scaler files

In [39]:
with open('onehotencoder_geograph.pkl', 'rb') as f:
    onehotencoder_geograph = pickle.load(f)

with open('scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('label_encoder_gender.pkl', 'rb') as f:
    label_encoder_gender = pickle.load(f)

now suppose example input data comes

In [40]:
example_input_data = {
    'CreditScore': [600],
    'Gender': ['Male'],
    'Age': [40],
    'Tenure': [30],
    'Balance': [100000],
    'NumOfProducts': [2],
    'HasCrCard': [1],
    'IsActiveMember': [1],
    'EstimatedSalary': [50000],
    'Geography': ['France']
}

In [41]:
inp_data=pd.DataFrame(example_input_data)

In [42]:
inp_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography
0,600,Male,40,30,100000,2,1,1,50000,France

applying onehotencoder on geo column

In [43]:
onehot_encoded_geo=onehotencoder_geograph.transform(inp_data[['Geography']])
onehot_encoded_geo=onehot_encoded_geo.toarray()

In [44]:
onehot_encoded_geo

array([[1., 0., 0.]])

In [45]:
onehotencoder_geograph.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [46]:
updated_inp=pd.concat([inp_data.drop(['Geography'],axis=1),pd.DataFrame(onehot_encoded_geo,columns=onehotencoder_geograph.get_feature_names_out(['Geography']))],axis=1)

In [47]:
updated_inp

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,30,100000,2,1,1,50000,1.0,0.0,0.0

similarly for gender also using label encoder

In [48]:
updated_inp['Gender']=label_encoder_gender.transform(updated_inp['Gender'])

In [49]:
print(label_encoder_gender.classes_)

['Female' 'Male']

In [50]:
updated_inp

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,30,100000,2,1,1,50000,1.0,0.0,0.0

now scaling the data

In [51]:
scaled_input=scaler.transform(updated_inp)

In [52]:
scaled_input

array([[-0.53598516,  0.91324755,  0.10479359,  8.67426486,  0.38262839,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

now simply making the prediction

In [53]:
prediction=model.predict(scaled_input)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 220ms/step

In [54]:
prediction

array([[0.00274912]], dtype=float32)

In [55]:
# Set a threshold, commonly 0.5 for binary classification
threshold = 0.5

# Classify the prediction based on the threshold
if prediction[0][0] > threshold:
    churn_status = "The customer is likely to churn."
else:
    churn_status = "The customer is not likely to churn."

print(churn_status)

The customer is not likely to churn.